/* Write your CSS here */

.main-page {
  height: 100vh;
  background-color: #ffc2a0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-bg {
  background-color: white;
  width: 90%;
  text-align: center;
  border-radius: 13px;
  padding: 20px;
}

h1 {
  color: #ff8542;
}


p {
  color: black;
  text-align: left;
}

li {
  list-style-type: none;
  align-self: flex-start;
}

ul {
  padding: 0px;
  margin: 0px;
}

.add-task-container {
  display: flex;
  font-family: 'Roboto';
  background-color: grey;
  border: 1px solid black;
  width: fit-content;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.add-task-container:focus, .add-task-container:hover {
  border-color: #3498db; /* Change border color on focus/hover */
  box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
}

.task-input-box {
  padding: 5px;
  outline: none;
  border-style: none;
  border-color: grey;
}

.add-task-button {
  background-color: #3498db;
  color: white;
  padding: 10px 15px;
  border-style: none;
  cursor: pointer;
  transition: transform 0.2s ease, 
  background-color 0.3s ease, 
  box-shadow 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.add-task-button:hover {
  background-color: #2980b9; /* Slightly darken the background color on hover */
  transform: scale(1.05); /* Scale up the button on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Enhance the shadow on hover */
}

