/* Write your CSS here */

.main-page {
  height: 100vh;
  background-color: #ffc2a0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-bg {
  background-color: white;
  width: 90%;
  text-align: center;
  border-radius: 13px;
  padding: 20px;
}

h1 {
  color: #ff8542;
}

p {
  color: black;
  text-align: left;
}

li {
  list-style-type: none;
  align-self: flex-start;
}

ul {
  padding: 0px;
  margin: 0px;
}

.add-task-container {
  display: flex;
  font-family: 'Roboto';
  background-color: grey;
  width: 200px;
}

.task-input-box {
  padding: 5px;
  outline: none;
  border-style: none;
  border-color: grey;
}

.add-task-button {
  background-color: purple;
  color: white;
  padding: 10px 15px;
  border-style: none;
}
